<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>TRIPSPOT</title>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/search.css">
  <script src="/js/search.js" defer></script>

</head>
<body>

<div th:replace="/common/header.html"></div>


<main>
  <h1>검색 결과: <span id="searchQuery" th:text="${query}"></span></h1>
  <input type="hidden" id="districtName" value="">

  <table class="search-table">
    <thead>
    <tr>
      <th>권역명</th>
      <th>관광지</th>
      <th>주소</th>
      <th>전화번호</th>
    </tr>
    </thead>
    <tbody id="searchResultsTable"></tbody>
  </table>

  <nav class="pagination-container">
    <div class="pagination" id="pagination"></div>
  </nav>
</main>

<div th:replace="/common/footer.html"></div>

<!-- JavaScript에서 제목을 변경하면 로딩 중 제목이 깜빡이는 현상(FOUT) 발생 가능 -> HTML 로드 후 즉시 title을 설정하여 초기 깜빡임 방지 -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchQuery = document.getElementById("searchQuery").innerText; // 검색어 가져오기
    document.getElementById("pageTitle").textContent = `${searchQuery} 검색 결과`;
  });
</script>

</body>
</html>


