<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>TRIPSPOT</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
    <h1>| TRIPSPOT</h1>
    <div style="text-align: right">
        <th:block sec:authorize="isAuthenticated()">
            <h3 style="text-align: right"><span sec:authentication="principal.username"></span>님 환영합니다</h3>
            <h3 style="text-align: right">권한: <span sec:authentication="principal.authorities"></span></h3>
            <button onclick="location.href='/member/logout'">로그아웃</button>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <button class="register-button" onclick="location.href='/member/register'">회원가입</button>
            <button class="login-button" onclick="location.href='/member/login'">로그인</button>
        </th:block>
    </div>
</header>

<main>
    <div class="search-area">
        <input type="text" id="search-input" placeholder="검색할 지역을 입력하세요." />
        <button class="board-button" onclick="location.href='/board'" style="margin-left: 10px;">게시판</button>
    </div>
    <img src="img/mapimage.jpg" alt="지도" class="map-image" usemap="#region-map" style="max-width: 100%; height: auto; max-height: 600px;">
    <map name="region-map">
        <area shape="rect" coords="10,100,160,200" href="/district/수도권" alt="수도권" style="cursor: pointer;">
        <area shape="rect" coords="100,200,258,285" href="/district/충청권" alt="충청권" style="cursor: pointer;">
        <area shape="rect" coords="20,310,220,410" href="/district/전라권" alt="전라권" style="cursor: pointer;">
        <area shape="rect" coords="480,50,680,150" href="/district/강원권" alt="강원권" style="cursor: pointer;">
        <area shape="rect" coords="500,270,700,370" href="/district/경상권" alt="경상권" style="cursor: pointer;">
        <area shape="rect" coords="460,450,610,550" href="/district/제주권" alt="제주권" style="cursor: pointer;">


    </map>
</main>

<script>
    document.getElementById('search-input').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            const searchValue = this.value; // 입력된 값 가져오기
            if (searchValue) {
                // 검색 값을 URL에 추가하여 /search 페이지로 이동
                window.location.href = '/search?query=' + encodeURIComponent(searchValue);
            }
        }
    });
</script>

<footer>
    <p>Team 200-OK</p>
</footer>
</body>
</html>
