<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 작성</title>
</head>
<body>
<h2 th:text="${board != null} ? '✏️ 게시글 수정' : '✏️ 새 글 작성'"></h2>
<!--@{/board/edit/${board.boardNo}}-->

<form th:action="@{/board/edit(boardno=${board.boardNo})}" method="post">

  <div>
    <label>제목</label><br>
    <input type="text" name="title" th:value="${board.title}" required style="width: 80%;">
  </div>
  <br>
  <div>
    <label>내용</label><br>
    <textarea name="content" rows="10" style="width: 100%;" required
              th:text="${board.content}"></textarea>
  </div>
  <br>
  <th:block th:if="${isAdmin}">
    <div>
<!--      공지로 등록 클릭 시 NOTICE넘어감-->
<!--      공지로 등록 클릭 안하면 null-->
      <label><input type="checkbox" name="boardType" value="NOTICE"> 공지로 등록</label>
    </div>
  </th:block>

  <th:block th:if="${!isAdmin}">
    <div>
      <label><input disabled type="checkbox"> 공지로 등록</label>
      <input hidden name="boardType" value="POST">
    </div>
  </th:block>

  <br>
  <button type="submit">작성 완료</button>
  <a href="/board"><button type="button">목록으로</button></a>
</form>
</body>
</html>
