<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.semiproject.board.model.dao.BoardMapper">

    <resultMap id="boardResultMap" type="com.multi.semiproject.board.model.dto.BoardDTO">
        <id property="boardNo" column="board_no" />
        <result property="boardType" column="board_type" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="viewCount" column="view_count" />
        <result property="memberId" column="member_id" />
        <result property="createdDate" column="created_date" />
        <result property="modifiedDate" column="modified_date" />

    </resultMap>

    <insert id="insertBoard" parameterType="com.multi.semiproject.board.model.dto.BoardDTO">
        insert into board (board_type, title, content, member_id) values(#{boardType}, #{title}, #{content}, #{memberId})
    </insert>

    <select id="selectNoticeBoardList" resultMap="boardResultMap">
        SELECT * FROM board WHERE board_type = 'NOTICE' ORDER BY created_date DESC
    </select>

    <select id="selectBoardCount" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="selectNormalBoardCount" resultType="int">
        SELECT COUNT(*) FROM board WHERE board_type != 'NOTICE'
    </select>

    <select id="selectBoardAll" resultMap="boardResultMap">
        SELECT * FROM board ORDER BY board_type DESC, created_date DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectNormalBoardList" resultMap="boardResultMap">
        SELECT * FROM board WHERE board_type != 'NOTICE' ORDER BY created_date DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="increaseViewCount">
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_no = #{no}
    </update>

    <select id="selectBoardListById" resultMap="boardResultMap">
        SELECT * FROM board
    WHERE member_id = #{id}
    </select>

    <select id="selectBoardByNo" resultMap="boardResultMap">
        select * from board
        where board_no = #{no}
    </select>

    <update id="updateBoard" parameterType="com.multi.semiproject.board.model.dto.BoardDTO">
        update board
        set board_type = #{boardType}, title = #{title}, content = #{content}
            where board_no = #{boardNo}
    </update>

    <delete id ="deleteBoard" >
        delete from board where board_no=#{no} and member_id = #{id}
    </delete>

    <delete id ="deleteBoardByAdmin" >
        delete from board where board_no=#{no}
    </delete>

</mapper>