<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.semiproject.board.model.dao.BoardMapper">
    <select id="boardTest">
        select count(*)
        from test
    </select>
</mapper>