<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.semiproject.member.model.dao.MemberMapper">

    <!-- MEMBER_ID로 멤버 찾기 -->
    <select id="findMemberById" parameterType="String" resultType="memberDTO">
        SELECT
        no ,
        id ,
        name ,
        pw ,
        member_role ,
        member_email
        FROM member
        WHERE id = #{memberId}
    </select>
    <!-- email 로 멤버 찾기 -->
    <select id="findMemberByEmail" parameterType="String" resultType="memberDTO">
        SELECT
        no ,
        id ,
        name ,
        pw ,
        member_role ,
        member_email ,
        FROM member
        WHERE member_email = #{email}
    </select>
    <insert id="registMember" parameterType="memberDTO"><!--ROLE_ADMIN 은 테스트삼아 update -->
        INSERT INTO member (
        id,
        pw,
        name,
        member_email,
        member_role
        )
        VALUES (
        #{id},
        #{pw},
        #{name},
        #{memberEmail},
        #{memberRole}
        )
    </insert>
</mapper>