<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}">
    <title>상세 정보</title>
</head>
<body>
<div th:replace="/common/header.html"></div>
<main>
    <div class="content-wrapper">
        <div class="detail-container">
            <h2><span th:text="${travel.title}"></span></h2>
            <div th:if="${travel != null}">
                <p><strong>No:</strong> <span th:text="${travel.no}"></span></p>
                <p><strong>District:</strong> <span th:text="${travel.district}"></span></p>
                <p><strong>Title:</strong> <span th:text="${travel.title}"></span></p>
                <p><strong>Description:</strong> <span th:text="${travel.description}"></span></p>
                <p><strong>Address:</strong> <span th:text="${travel.address}"></span></p>
                <p><strong>Phone:</strong> <span th:text="${travel.phone}"></span></p>
            </div>
            <div th:unless="${travel != null}">
                <p>해당하는 정보가 없습니다.</p>
            </div>
        </div>
        <div class="img-content">
            <img src="/img/suwon.jpg" alt="상세 이미지">
        </div>
    </div>
</main>
<div th:replace="/common/footer.html"></div>
</body>
</html>