<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">관광지 목록</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/district.css">
    <script src="/js/district.js" defer></script>
</head>
<body>

<div th:replace="/common/header.html"></div>

<main>
    <h1 id="districtTitle"></h1>
    <input type="hidden" id="districtName" value="">

    <table class="district-table">
        <thead>
        <tr>
            <th>권역명</th>
            <th>관광지</th>
            <th>주소</th>
            <th>전화번호</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

    <nav class="pagination-container">
        <div class="pagination"></div>
    </nav>
</main>

<div th:replace="/common/footer.html"></div>

<!-- JavaScript에서 제목을 변경하면 로딩 중 제목이 깜빡이는 현상(FOUT) 발생 가능 -> HTML 로드 후 즉시 title을 설정하여 초기 깜빡임 방지 -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const districtName = document.getElementById("districtName").value;
        document.getElementById("pageTitle").textContent = `${districtName} 관광지 목록`;
    });
</script>

</body>
</html>
