body {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #256137;
    color: #FDFDFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    overflow: hidden;
}

header h1 {
    font-family: 'Comfortaa', sans-serif;
    text-align: left;
    margin: 0;
    font-size: 50px;
    color: #256137;
}

main {
    flex-grow: 1;
    padding: 40px;
    font-family: 'Nanum Gothic', sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
}

/* 게시글 상세 페이지 컨테이너 */
.detail-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    color: #256137;
    margin-bottom: 20px;
    text-align: center;
}

/* 텍스트 스타일 */
p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

p strong {
    font-weight: bold;
    color: #333;
}

p span {
    color: #777;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* 버튼 스타일 */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-group a, .button-group form {
    display: inline-block;
}

button {
    background-color: #256137;
    color: #fff;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #83B692;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    padding: 10px;
    background-color: #E7EBE8;
    color: #256137;
    margin-top: auto;
    z-index: 1000;
}