<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('multi-semi.kakao-api')}+'&libraries=services'"></script>

<!--    <link rel="preload">-->
    <style>
        #mapInfoBox{
            display: flex;
            margin-top: 200px;
            /*justify-content: center;*/
            /*align-items: flex-end;*/
        }


    </style>
</head>
<body>

<div th:replace="/common/header.html"></div>

<!--<p style="margin-top:-12px">-->
<!--    <em class="link">-->
<!--        <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">-->
<!--            혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.-->
<!--        </a>-->
<!--    </em>-->
<!--</p>-->
<div id="mapInfoBox">
    <div id="map" style="width:50%;height:50vh"></div>
    <div id="roadview" style="width:50%;height:50vh">tt</div>
</div>
<!--<img id="placeImg" style="width:800px;height:800px">-->

<div id="info">
    <ol id="infoBox" >
        <li id="districtLi"></li>
        <li id="titleLi"></li>
        <li id="descriptionLi"></li>
        <li id="addressLi"></li>
        <li id="telLi"></li>
        <li id="homeplage"></li>
    </ol>
</div>

<div th:replace="/common/footer.html"></div>

<script th:inline="javascript">
// console.log("환경변수");
//
// const kakao_key = [[${@environment.getProperty('multi-semi.kakao-api')}]];
// console.log(kakao_key)
// const tour_key = [[${@environment.getProperty('multi-semi.tour-api')}]];
// console.log(tour_key);

var geocoder = new kakao.maps.services.Geocoder();
var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

//const coordsValue = new Object();

let address = '인천광역시 중구 제물량로232번안길 27';//'경기도 고양시 덕양구 행주외동 140-8', "인천광역시 중구 제물량로232번안길 27"
let title = "인천 개항장역사문화공간";
async function getCoords(address, title){
    const result =  await new Promise((resolve,reject)=> {
        //console.log(geocoder.addressSearch.constructor.name); // 출력 결과: function
        geocoder.addressSearch(address, function (result, status) { //geocoder.addressSearch가 비동기 작업

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {
                //console.log(kakao.maps.LatLng.constructor.name) 출력 결과: function
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                resolve(coords)
            } else {
                reject(new Error("해당 지역의 주소가 없습니다."))
            }
        })
    })

    //한국 관광 공사 api request parameter 설정
    let url = "https://apis.data.go.kr/B551011/KorService1/locationBasedList1"
    let mobileOs = "WIN";
    let mobileApp = "multiTravel";
    let maxRadius = 200000;
    // let serviceKey = "RmKrTcSJ10sVBsGmRKLZY7YOE6et9HZZfyjlPtb2UHJLouTmCT07mQCa5Oh3ACVoR97nJRoljda8uIRtmGaWvA%3D%3D"
    //get method 사용
    // const res = await fetch(`${url}?MobileOS=${mobileOs}&MobileApp=${mobileApp}&mapX=${result.La}&mapY=${result.Ma}&radius=${maxRadius}`+"&serviceKey="+[[${@environment.getProperty('multi-semi.tour-api')}]]+"&_type=json")

    const res = await fetch(`${url}?MobileOS=${mobileOs}&MobileApp=${mobileApp}&mapX=${result.La}&mapY=${result.Ma}&radius=${maxRadius}&serviceKey=${[[${@environment.getProperty('multi-semi.tour-api')}]]}&_type=json`)


    if(!res.ok){
        return new Error("해당 지역 주변에 관관 정보가 없습니다.");
    }
    const data = await res.json();
    const items = data.response.body.items.item;
    console.log(items);
    //console.log(items);

    //상세 보기 페이지에서 본 지역의 주소와 좌표를 객체에 담아 배열에 저장
    let positions = new Array();
    //console.log(result);
    positions.push({
        placeInfo:{
            district:3,
            addr1 : address,
            description:"test",
            mapx: result.La,
            mapy: result.Ma,
            title: title,
            tel: "0000"
        }
    })
    displayInfo(positions[0])();
    //positions[0].title = address;
    //positions[0].latlng = new kakao.maps.LatLng(result.Ma,result.La)

    items.forEach(item =>{


        positions.push({ placeInfo : item});
    });

    console.log(positions);



    // 공통정보조회 api
    //한국 관광 공사 api request parameter 설정
    // https://apis.data.go.kr/B551011/KorService1/detailCommon1?MobileOS=WIN&MobileApp=multitravel&contentId=126508&defaultYN=Y&firstImageYN=Y&areacodeYN=Y&catcodeYN=Y&addrinfoYN=Y&overviewYN=Y&serviceKey=RmKrTcSJ10sVBsGmRKLZY7YOE6et9HZZfyjlPtb2UHJLouTmCT07mQCa5Oh3ACVoR97nJRoljda8uIRtmGaWvA%3D%3D
    let urlDetail = "https://apis.data.go.kr/B551011/KorService1/detailCommon1"
    let mobileOsDetail = "WIN";
    let mobileAppDetail = "multiTravel";
    let defaultYNDetail = "Y"; // &defaultYN=${defaultYNDetail}, 제공되는 정보: booktour, createdtime, homepage, modifiedtime
    //let firstImageYNDetail = "Y"; // firstImageYN=${firstImageYNDetail}&, 이미지를 제공 안하는 경우가 있기 때문에 로드뷰로 대체
    //let areacodeDetail = "Y"; // &areacodeYN=${areacodeDetail}, 이미 받음
    //let catcodeYNDetail = "Y"; // &catcodeYN=${catcodeYNDetail}, 이미 받음
    //let addinfoYNDetail = "Y"; // &addrinfoYN=${addinfoYNDetail}, 이미 받음
    let overviewYNDetail = "Y";
    //let maxRadiusDetail = 200000;
    let serviceKeyDetail = "RmKrTcSJ10sVBsGmRKLZY7YOE6et9HZZfyjlPtb2UHJLouTmCT07mQCa5Oh3ACVoR97nJRoljda8uIRtmGaWvA%3D%3D";


    for(let i=1;i<=items.length;i++){
        let contentIdDetail = positions[i].placeInfo.contentid;
        let totlaURL = `${urlDetail}?MobileOS=${mobileOsDetail}&MobileApp=${mobileAppDetail}&contentId=${contentIdDetail}&defaultYN=${defaultYNDetail}&overviewYN=${overviewYNDetail}&serviceKey=${[[${@environment.getProperty('multi-semi.tour-api')}]]}&_type=json`;
        let resDetail = await fetch(totlaURL);
        if(!resDetail){
            throw new Error("http request error");
        }
        let dataDetail = await resDetail.json();
        let itemsDetail = dataDetail.response.body.items.item
        positions[i].placeInfo.homepage = itemsDetail[0].homepage;
        positions[i].placeInfo.description = itemsDetail[0].overview;
        positions[i].placeInfo.test = "33";
        console.log(itemsDetail);

    }
    console.log(positions);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(positions[0].placeInfo.mapy, positions[0].placeInfo.mapx), // 지도의 중심좌표
            level: 2 // 지도의 확대 레벨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    for (var i = 0; i < positions.length; i ++) {
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: new kakao.maps.LatLng(positions[i].placeInfo.mapy,positions[i].placeInfo.mapx) // 마커의 위치
        });

        // 마커에 표시할 인포윈도우를 생성합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: "<div>"+positions[i].placeInfo.title +"</div>"// 인포윈도우에 표시할 내용
        });

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        //kakao.maps.event.addListener(maker,"click",getInfo())
        kakao.maps.event.addListener(marker,"click",displayInfo(positions[i]));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }
    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
}
getCoords(address, title);
function displayInfo(position){
    return ()=>{
        var positionkakao = new kakao.maps.LatLng(position.placeInfo.mapy, position.placeInfo.mapx);

// 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
        roadviewClient.getNearestPanoId(positionkakao, 50, function(panoId) {
            roadview.setPanoId(panoId, positionkakao); //panoId와 중심좌표를 통해 로드뷰 실행
        });

        //ol tag
        // const url = "https://maps.googleapis.com/maps/api/streetview";
        // const hSize = 400;
        // const wSize = 400;
        // const latitude = position.placeInfo.mapy;//47.5763831;//33.450705;
        // const longitude = position.placeInfo.mapx;//-122.4211769;//126.570677;
        // const key = "AIzaSyCGRT0uhnCcED7b_u6IQlX7_vmu0quyxMc";
        // const totalURL  = `${url}?size=${wSize}x${hSize}&location=${latitude},${longitude}&fov=80&pitch=0&key=${key}`; //&heading=70



        const infoBox = document.querySelector("#infoBox");

        //district, title, description, tel li tage
        const districtLi = document.querySelector("#districtLi");
        const titleLi = document.querySelector("#titleLi");
        const descriptionLi = document.querySelector("#descriptionLi");
        const addressLi = document.querySelector("#addressLi");
        const telLi = document.querySelector("#telLi");
        const homeplageLi = document.querySelector("#homeplage");

        districtLi.innerHTML = "district : "+position.placeInfo.areacode;
        titleLi.innerHTML = "title : "+position.placeInfo.title;
        descriptionLi.innerHTML = "description : "+position.placeInfo.description;
        addressLi.innerHTML = "address : "+position.placeInfo.addr1;
        telLi.innerHTML = "tel : "+position.placeInfo.tel;
        homeplageLi.innerHTML = position.placeInfo.homepage;

        //infoBox.appendChild(liTitle);
        //const placeImg = document.querySelector("#placeImg");
        // console.log(position.placeInfo.firstimage);
        //placeImg.src = totalURL;//`${position.placeInfo.firstimage}`;


        //console.log("getInfo() function");
        console.log(position);
        //alert("test");
    }

}

function makeOverListener(map, marker, infowindow) {

    return function() {

        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}

function getDistrictName(areacode){
    let areaName;
    switch(areacode){
        case 1:
            areaName = "서울";

    }
}

</script>

</body>
</html>

<!-- 참고 -->
<!-- https://apis.map.kakao.com/web/sample/addr2coord/ -->