<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('multi-semi.kakao-api')}+'&libraries=services'"></script>
    <script src="/js/map.js"></script>

    <!--    <link rel="preload">-->
    <style>
        #mapsBox{
            display: flex;
            margin-top: 170px;
            margin-left: 20px;
            margin-right: 20px;

            /*justify-content: center;*/
            /*align-items: flex-end;*/
        }

        #map{
            margin-right: 10px;
        }

        #roadview{
            margin-left: 10px;
        }


        #title {
            color: green;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px; /* title과 textInfoBox 사이 간격 조절 */
        }

        #textInfoBox{
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

        }


        #saveInfo {
            display: block;
            margin: 30px auto;
            background-color: #FDFDFC;
            color: #256137;
            border: 1px solid #256137;
            padding: 14px 22px;
            font-size: 18px;
            border-radius: 8px;
            text-decoration: none;
            text-align: center;
            font-family: 'Nanum Gothic', sans-serif;
            transition: background-color 0.3s ease-in-out;
        }

        #saveInfo:hover {
            background-color: #83B692;
        }


    </style>
</head>
<body>

<div th:replace="~{/common/header.html}"></div>

<!--<p style="margin-top:-12px">-->
<!--    <em class="link">-->
<!--        <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">-->
<!--            혹시 주소 결과가 잘못 나오는 경우에는 여기에 제보해주세요.-->
<!--        </a>-->
<!--    </em>-->
<!--</p>-->
<!--<div class="title" style="text-align: "></div>-->
<div id="mapsBox">
    <div id="map" style="width:50%;height:45vh"></div>
    <div id="roadview" style="width:50%;height:45vh"></div>
</div>
<p id="title"></p>

<div id="textInfoBox">
    <div class="info-item">
        <strong>Address:</strong> <span id="addr"></span>
    </div>
    <div class="info-item">
        <strong>District:</strong> <span id="district"></span>
    </div>
    <div class="info-item">
        <strong>Phone:</strong> <span id="phone"></span>
    </div>
    <div class="info-item">
        <strong>Homepage:</strong> <span id="homepage"></span>
    </div>
</div>

<button id="saveInfo" onclick="saveInfo()">관광 정보 저장</button>


<!--<img id="placeImg" style="width:800px;height:800px">-->
<!--<h2><span th:text="${travel.title}"></span></h2>-->

<div th:replace="~{/common/footer.html}"></div>

<script th:inline="javascript">
    var geocoder = new kakao.maps.services.Geocoder();

    var roadviewContainer = document.getElementById('roadview'); //로드뷰를 표시할 div
    var roadview = new kakao.maps.Roadview(roadviewContainer); //로드뷰 객체
    var roadviewClient = new kakao.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

    let places = new Array();// 각 객체에 들어갈 정보: distrct, title, description, address, phone, homepage 주소, mapx(latitude), mapy(
    let savePlace = {
        saveObject :"none"
    };

    document.addEventListener("DOMContentLoaded",async ()=>{
        places.push({info:{
                district : [[${travel.district}]],
                title: [[${travel.title}]],
                description: getDescription([[${travel.description}]]),
                address: getAddress([[${travel.address}]]),
                phone: getPhone([[${travel.phone}]]),

            }});

        const coords = await getCoords(places[0].info.address); // places[0]: 상세보기 페이지에서 가져온 정보, 주소로 위도와 경도를 얻음

        places[0].info.homepage = getHomepage("");
        places[0].info.mapx = coords.x;
        places[0].info.mapy = coords.y;


        displayInfo(places[0],savePlace)();

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(places[0].info.mapy, places[0].info.mapx), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
        var map = new kakao.maps.Map(mapContainer, mapOption);


        //한국 관광 공사 api request parameter 설정
        let url = "https://apis.data.go.kr/B551011/KorService1/locationBasedList1"
        let mobileOs = "WIN";
        let mobileApp = "multiTravel";
        let maxRadius = 200000;

        const res = await fetch(`${url}?MobileOS=${mobileOs}&MobileApp=${mobileApp}&mapX=${places[0].info.mapx}&mapY=${places[0].info.mapy}&radius=${maxRadius}&serviceKey=${[[${@environment.getProperty('multi-semi.tour-api')}]]}&_type=json`)

        if(!res.ok){
            return new Error("해당 지역 주변에 관관 정보가 없습니다.");
        }

        const items = (await res.json()).response.body.items.item;//
        //console.log(items);
        let count = 1;
        items.forEach(item =>{
            places.push({ info : {
                    district : places[0].info.district, //getDistrictName(item.addr1),
                    title : item.title,
                    address: getAddress(item.addr1),
                    phone: getPhone(item.tel),
                    contentid : item.contentid,
                    mapx : item.mapx,
                    mapy : item.mapy,
                    description : "",
                    homepage : ""
                }});

        })
        setDetails(places)

        for (var i = 0; i < places.length; i ++) {
            // 마커를 생성합니다

            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: new kakao.maps.LatLng(places[i].info.mapy,places[i].info.mapx), // 마커의 위치
                title: places[i].info.title
            });

            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: "<div>"+places[i].info.title +"</div>"// 인포윈도우에 표시할 내용
            });

            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다
            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker,"click",displayInfo(places[i], savePlace));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        }
        //console.log(places);
    })

    async function setDetails(places){

        let urlDetail = "https://apis.data.go.kr/B551011/KorService1/detailCommon1"
        let mobileOsDetail = "WIN";
        let mobileAppDetail = "multiTravel";
        let defaultYNDetail = "Y"; // 제공되는 정보: booktour, createdtime, homepage, modifiedtime
        let overviewYNDetail = "Y";
        // let resDetail = await fetch(`${urlDetail}?MobileOS=${mobileOsDetail}&MobileApp=${mobileAppDetail}&contentId=${place.info.contentid}&defaultYN=${defaultYNDetail}&overviewYN=${overviewYNDetail}&serviceKey=${[[${@environment.getProperty('multi-semi.tour-api')}]]}&_type=json`);
        urls = new Array();

        places.forEach((place,index)=>{
            if(index==0)
                return;
            urls.push(
                `${urlDetail}?MobileOS=${mobileOsDetail}&MobileApp=${mobileAppDetail}&contentId=${place.info.contentid}&defaultYN=${defaultYNDetail}&overviewYN=${overviewYNDetail}&serviceKey=${[[${@environment.getProperty('multi-semi.tour-api')}]]}&_type=json`
            )

        })
        //let requests = urls.map(url=>fetch(url))
        //console.log(requests);
        //console.log(urls);

        const results = await Promise.allSettled(
            urls.map(async (url) =>{ //비동기 익명 함수
                const resp = await fetch(url); // 비동기 처리 기다림
                return resp.text();
            })
        );

        //추출 과정 메모
        // console.log(results);
        // console.log(results[0]);
        // console.log(results[0].value);
        // console.log(JSON.parse(results[0].value));
        // console.log(JSON.parse(results[0].value).response.body.items.item[0].overview);

        let count = 1;
        results.forEach(result=>{
            const data = JSON.parse(result.value);
            places[count].info.description = getDescription(data.response.body.items.item[0].overview);
            places[count++].info.homepage = getHomepage(data.response.body.items.item[0].homepage);
        })



        // 공통정보조회 api
        //한국 관광 공사 api request parameter 설정
        // https://apis.data.go.kr/B551011/KorService1/detailCommon1?MobileOS=WIN&MobileApp=multitravel&contentId=126508&defaultYN=Y&firstImageYN=Y&areacodeYN=Y&catcodeYN=Y&addrinfoYN=Y&overviewYN=Y&serviceKey=


        // let urlDetail = "https://apis.data.go.kr/B551011/KorService1/detailCommon1"
        // let mobileOsDetail = "WIN";
        // let mobileAppDetail = "multiTravel";
        // let defaultYNDetail = "Y"; // 제공되는 정보: booktour, createdtime, homepage, modifiedtime
        // let overviewYNDetail = "Y";

        //let firstImageYNDetail = "Y"; // firstImageYN=${firstImageYNDetail}&, 이미지를 제공 안하는 경우가 있기 때문에 로드뷰로 대체
        //let areacodeDetail = "Y"; //이미 받음
        //let catcodeYNDetail = "Y"; // 이미 받음
        //let addinfoYNDetail = "Y"; // 이미 받음


        // let resDetail = await fetch(`${urlDetail}?MobileOS=${mobileOsDetail}&MobileApp=${mobileAppDetail}&contentId=${place.info.contentid}&defaultYN=${defaultYNDetail}&overviewYN=${overviewYNDetail}&serviceKey=${[[${@environment.getProperty('multi-semi.tour-api')}]]}&_type=json`);
        // if(!resDetail){
        //     throw new Error("http request error");
        // }
        // let dataDetail = await resDetail.json();
        // let itemsDetail = dataDetail.response.body.items.item
        // place.info.homepage = getHomepage(itemsDetail[0].homepage);
        // place.info.description = getDescription(itemsDetail[0].overview);


        //position.placeInfo.test = "33";
        //console.log(itemsDetail);
        //console.log(position);
    }

    async function saveInfo(){
        //alert("test");
        //console.log(savePosition.saveObject);
        //alert("save()");
        //alert("save()");
        const url = `/district/regist`;

        //중복 검사
        //const duplication = await fetch()
        // alert("test");
        // console.log(savePlace.saveObject.info);


        const district = savePlace.saveObject.info.district.includes("미제공") ? "" : savePlace.saveObject.info.district;
        const title = savePlace.saveObject.info.title;
        const description= savePlace.saveObject.info.description.includes("미제공") ? "" : savePlace.saveObject.info.description;
        const address = savePlace.saveObject.info.address.includes("미제공") ? "" : savePlace.saveObject.info.address;
        const phone = savePlace.saveObject.info.phone.includes("미제공") ? "" : savePlace.saveObject.info.phone;

        const data ={
            district :district,
            title : title,
            description:description,
            address:address,
            phone: phone
        }

        const res = await fetch(url,{
            method : "post",
            body: JSON.stringify(data),
            headers :{
                'Content-Type':'application/json'
            }
        })
        if(!res.ok){
            throw new Error("http error")
        }
        //console.log(res.url);
        // console.log(res);
        // console.log(res.headers.get("Location"));
        window.location.href = res.headers.get("Location")


        //console.log(res)

    }
</script>
</body>
</html>

<!-- 참고 -->
<!-- https://apis.map.kakao.com/web/sample/addr2coord/ -->